---
whiskers:
  version: 2.5.1
---
<svg xmlns="http://www.w3.org/2000/svg" 
  width="12" height="12" viewBox="0 0 24 24" stroke-width="2" 
  stroke="#{{ text.hex }}" fill="#{{ text.hex }}" stroke-linecap="round" stroke-linejoin="round">
  <circle cx="12" cy="12" r="8"></circle>
</svg>